.topnav {
  background-color: #252932;
  position: static;
  overflow: hidden;
  height: 60px;
  max-width: 95%;
  margin-left:2%;
  margin-right: 3%;
  border-radius: 50px;
  box-shadow: 2px 2.5px 25px 1px #42a8bd;
  transition:0.3s;
  position: fixed;
  top: 15px;
  width: 95%;
  margin-top: 2%;
  z-index: 1;
}

.topnav:hover {
  transform: scale(1.04);
  transition: all 0.3s ease-out;
  box-shadow: 2px 2.5px 100px 5px #42a8bd, 0px 0px 1px 1px rgb(206, 237, 247);
  & #status-awake { opacity: 1; transition: 0.2s; };
  & #status { opacity:0; transition: 0.2s; };
}


.topnav a {
  float: right;
  position: relative;
  color: #ffffff94;
  text-align: center;
  padding: 13px 19px;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.topnav a:hover {
  background-color: #42a8bd;
  color: white;
  box-shadow: 2px 2.5px 20px 0.01px #42a8bd;
  transition: all 0.8s;
}

.topnav a.active {
  background-color: #42a8bd;
  color: white;
  box-shadow: 2px 2.5px 20px 0.01px #42a8bd;
}



#name:hover {
  background-color: #252932;
  color: white;
  box-shadow: none;

  
}

#name {
  float: left;
  font-weight: 500;
  font-size: 19px;
  color: white;
  font-family: Impact, 'Haettenschweiler, 'Arial Narrow Bold', 'sans-serif;
  text-transform: uppercase;

}

a {
  margin-top: 7px;
  margin-right: 0.5%;
  margin-left: 1%;
}

body {
  background-color: #252932;
  overflow-x: hidden;
  margin-top: -1px;
}

#intro {
  margin-left: 10%;
  margin-top: 400px;
  font-family:'Courier New', Courier, monospace;
  font-size: 60px; 
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  box-shadow: 2px 2.5px 25px 1px #42a8bd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #42a8bd;
  box-shadow: 2px 2.5px 2000px 0.1px #42a8bd;
  transition: 2s;
}

#status {
  float: left;
  position: absolute;
  opacity: 1;
}

#status-awake {
  float: left;
  position: absolute;
  opacity: 0;
  color: #42a8bd;
}

#status-awake:hover {
  box-shadow: none;
  background-color: #252932;
}

#name-after-intro {
  margin-left: 7%;
  margin-top: -6.5px;
  font-size: 90px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
}





#separator-two {
  width: 100000px;
  overflow: hidden;
  height: 9000px;
  background-color: white;
  z-index: 0;
  margin-top: 264px;
  position: absolute;
}

#separator-one {
  width: max-width;
  background-color: white;
  height: 250px;
  border-radius: 50px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  width: 95%;
  max-width: 95%;
  margin-left:2%;
  margin-right: 0%;
  position: absolute;
  top: 535px;
  right:0px;
  height: 100px;
  z-index: -3;
  background-color:#252932; 
  box-shadow: 2px 2.5px 100px 5px #42a8bd, 0 0 2px 2px rgb(206, 237, 247);
}

#intro-img {
  height: 750px;
  position: absolute;
  margin-top: 166px;
  margin-left: 1050px;
  z-index: 0;
}

#shape-one {
  width: 650px;
  height:650px;
  background-color: #252932;
  border-radius: 100%;
  position: absolute;
  margin-left: 1053px;
  margin-top: 290px;
  transform: rotate(-30deg);
  z-index: -1;
  box-shadow: 2px 2.5px 100px 5px #42a8bd, 0 0 2px 2px rgb(206, 237, 247);
  transition: 0.5s;
}

#shapes:hover {
  transform: scale(1.05);
  transition: 1s;
  z-index: -5;
  #shape-one {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 2px 2.5px 100px 5px #42a8bd, 0px 0px 2px 6px rgb(206, 237, 247);
  }
  
}

#shapes:hover {
  #shape-two {
    transform: scale(80);
    transition: 0.5s;
    border-color: #42a8bd;
    border-width: 10%;
  }
}

#shapes {
  transition: 1s;
  z-index: 0;
}

#shape-two {
  height: 1px;
  width: 1px;
  position: absolute;
  background-color: aliceblue;
  margin-left: 1140px;
  border-radius: 100%;
  margin-top: 330px;
  background-color: #252932;
}

#grid {
  border-color:#42a8bd;
  position: absolute;
  z-index: -10;
  height: 1300px;
  margin-top: -1000px;
  margin-left: -100px;
  width: 150%;
  opacity: 0.3;
}

#outline {
  width: 600px;
  background-color: white;
  height: 50px;
  position: absolute;
  z-index: -1;
  border-radius: 60px;
}

#classification {
  margin-left: 100px;
}



